
body {
 margin: 0;
}

.section-one {
  background-color: #1f2937;
  color: white;
  padding: 10px;
}

.container-header {
  display: flex;
  justify-content: space-evenly;
}
.logo {
  font-size: 24px;
}
.link {
  margin: 0;
  padding: 0;
  font-size: 18px;
}
ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
}
.container-intro {
  display: flex;
  justify-content: center;
  gap: 80px;
  padding: 100px;
  align-items: center;
}
.container-main {
  max-width: 450px;
  
}
.main-button {
  padding: 7px 25px;
  font-size: 20px;
  background-color: #3882f6;
  border-radius: 5px;
  color: white;
  border: 0;
}
.title {
  font-size: 48px;
  font-weight: bolder;
  margin-bottom: 0;
}

.images img {
  max-width: 200px;
  min-height: 200px;
  
}

.section-two-title {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: bolder;
}
.container-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-bottom: 100px;

}
.images p {
  max-width: 200px;
  text-align: center;
}
.section-three {
  background-color: #e5e7eb;
  font-size: 36px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.quote {
  max-width: 900px;
  text-align:start;
}
.thor {
  font-size: 30px;
  font-weight: bold;
  text-align: end;
}
.section-four {
  margin: 100px;
  display: flex;margin: 100px;
  justify-content: center;
  align-items: center;
}
.call-to-action {
  color: white;
  background-color: #3882f6;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 30px 150px;
  gap: 200px;  
  
}
#action {
  font-size: 25px;
  margin: 0;
}
.action-button { /* How can i make the 'sign up' not wrap to other line*/
  color: white;
  background-color:#3882f6;
  border: 2px white solid ;
  border-radius: 5px;
  font-size: 18px;
  padding: 5px 20px;
 
  font-weight: bold;
  
}
.footer {
  background-color: #1f2937;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
}
