body {
  margin: 0;
}

.section-one {
  background-color: #1F2937;
  color: white;
}

.container-header {
  display: flex;
  justify-content: space-evenly;
}
.link {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
}