body {
    margin: 0;
}
.container-one {
    background-color: #1F2937;
    color: white;
}
.container-one .one {
    display: flex;
    justify-content: space-around;
}
ul {
    margin: 0;
    display: flex;
    list-style-type: none;
    gap: 10px;
}